.section-cards {
    margin-bottom: 100px;
    display: grid;
    gap: 15px;
    grid-template-rows: 80px 1fr;
    grid-template-columns: 1fr minmax(200px, 300px);
    grid-template-areas: "title title"
                        "card-wrapper aside";
}

.section-cards-title{
    font-size: 1.8rem;
    grid-area: title;
    margin: 30px;
    color: var(--cor-principal);
}

.card-wrapper {
    margin: 0 30px 0 30px;
    grid-area: card-wrapper;
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3, minmax(300px,1fr));
}

.card{
    position: relative;
    display: grid;
    grid-template: "imagem" 200px
                    "conteudo" 1fr;
    height: 300px;
    width: 100%;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.3);
    background-color: white;
}

.card-img{
    grid-area: imagem;
    object-fit: cover;
    overflow: hidden;
    height: 100%;
    width: 100%;
}

.card-content { 
    grid-area: conteudo;
    display: grid;
    grid-template-rows: 1fr 1fr;
    margin: 10px;
    grid-row-start: 2;
    align-items: center;
}

.card-title{
    color: var(--cor-principal);
    grid-row: 1;
    font-size: 1.0rem;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card-link {
    white-space: nowrap;
    width: 90px;
    padding: 4px;
    grid-row: 2;
    font-size: 0.9rem;
    border-radius: 5px;
    border: 1px solid var(--cor-secundaria);
    color: var(--cor-secundaria);
    text-decoration: none;
    transition: all 0.3s ease ;
}

.card-link:hover {
    background-color: var(--cor-secundaria);
    color: white;
}

.card-categoria{
    font-size: 0.9rem;
    position:absolute;
    color: white;
    background-color: var(--verde-escuro);
    top: 20px;
    right: 20px;
    padding: 5px;
    border-radius: 12px;
}

.filter-section{
    display: flex;
    flex-direction: column;
    grid-area: aside;
}

.label-order_by {
    font-size: 1.1rem
}

.label-filter {
    display: block;
    font-size:1.1rem
}
.checkbox-wrapper{
    margin-top: 40px;
}

.checkbox-content {
    margin-top:  30px;
    font-weight: 350;
    display: grid;
    grid-template-columns: 1fr 1fr ;
}

.select-order_by {
    border-radius: 5px;
    border: 2px solid rgba(0, 0, 0, 0.2);
    box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.2);
    opacity: 80%;
    font: normal normal 0.9rem var(--fonte-conteudo);
    height: 30px;
    width: 120px;
}

.button-wrapper {
    margin-top: 40px;
}

.button-filter-section {
    font: normal normal 0.8rem var(--fonte-conteudo);
    height: 30px;
    width: 80px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.apply{
    margin-right: 20px ;
    background-color: var(--cor-contraste);
}