* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

html, body {
    min-width:  100vw;
    min-height: 100vh;
    font-family: var(--fonte-conteudo);
}

main { 
    position: relative;
    min-height: 600px;
}

.filter-section{
    display: flex;
    flex-direction: column;
    grid-area: aside;
}

.label-order_by {
    font-size: 1.1rem
}

.label-filter {
    display: block;
    font-size:1.1rem
}
.checkbox-wrapper{
    margin-top: 40px;
}

.checkbox-content {
    margin-top:  30px;
    font-weight: 350;
    display: grid;
    grid-template-columns: 1fr 1fr ;
}

.select-order_by {
    border-radius: 5px;
    border: 2px solid rgba(0, 0, 0, 0.2);
    box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.2);
    opacity: 80%;
    font: normal normal 0.9rem var(--fonte-conteudo);
    height: 30px;
    width: 120px;
}

.button-wrapper {
    margin-top: 40px;
}

.button-filter-section {
    font: normal normal 0.8rem var(--fonte-conteudo);
    height: 30px;
    width: 80px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.apply{
    margin-right: 20px ;
    background-color: #25edc4;
}

.section-cards {
    margin-bottom: 100px;
    display: grid;
    gap: 15px;
    grid-template-rows: 80px 1fr;
    grid-template-columns: 1fr minmax(200px, 300px);
    grid-template-areas: "title title"
                        "card-wrapper aside";
}

.section-cards-title{
    font-size: 1.8rem;
    grid-area: title;
    margin: 30px;
    color: var(--cor-principal);
}

.card-wrapper {
    margin: 0 30px 0 30px;
    grid-area: card-wrapper;
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3, minmax(300px,1fr));
}

.card{
    position: relative;
    display: grid;
    grid-template: "imagem" 200px
                    "conteudo" 1fr;
    height: 300px;
    width: 100%;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.3);
    background-color: white;
}

.card-img{
    grid-area: imagem;
    object-fit: cover;
    overflow: hidden;
    height: 100%;
    width: 100%;
}

.card-content { 
    grid-area: conteudo;
    display: grid;
    grid-template-rows: 1fr 1fr;
    margin: 10px;
    grid-row-start: 2;
    align-items: center;
}

.card-title{
    color: var(--cor-principal);
    grid-row: 1;
    font-size: 1.0rem;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card-link {
    white-space: nowrap;
    width: 90px;
    padding: 4px;
    grid-row: 2;
    font-size: 0.9rem;
    border-radius: 5px;
    border: 1px solid var(--cor-secundaria);
    color: var(--cor-secundaria);
    text-decoration: none;
    transition: all 0.3s ease ;
}

.card-link:hover {
    background-color: var(--cor-secundaria);
    color: white;
}

.card-categoria{
    font-size: 0.9rem;
    position:absolute;
    color: white;
    background-color: var(--verde-escuro);
    top: 20px;
    right: 20px;
    padding: 5px;
    border-radius: 12px;
}

.section-auth-accounts {
    background: linear-gradient(to bottom right, var(--cor-principal), var(--cor-secundaria));
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
}

.auth-wrapper {
    position: relative;
    width: 700px;
    display: grid;
    grid-template: "cadastro login"/ 1fr 1fr;
    border-radius: 30px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.login-wrapper,
.register-wrapper {
padding: 30px;
display: flex;
flex-direction: column;
}

.login-wrapper {
grid-area: login;
border-radius: 0px 30px 30px 0px;
}

.register-wrapper {
grid-area: cadastro;
border-radius: 20px 0px 0px 20px;
background-color: var(--cor-contraste);
color: white;
text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.20);
}

.register-link {
    color: var(--cor-secundaria);
    font-size: 0.9rem;
    margin-top: 10px;
    text-decoration: none;
    transition: color 0.3s ease;
}

.register-link:hover {
    color: white;
}
.title-login,
.title-register {
font-size: 2rem;
color: white;
text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
margin-bottom: 20px;
text-align: center;
}

.login-wrapper > input {
border: 1px solid rgba(0, 0, 0, 0.2);
margin: 5px 10px;
padding: 10px;
border-radius: 30px;
height: 45px;
width: 100%;
box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

.login-wrapper > button {
margin-top: 30px;
font-size: 1rem;
color: white;
background-color: var(--cor-principal);
border: none;
border-radius: 30px;
width: 70%;
align-self: center;
height: 50px;
cursor: pointer;
transition: background-color 0.3s ease;
}

.login-wrapper > button:hover {
background-color: var(--cor-principal-hover);
}

.forgot-password {
    padding: 5px;
    margin: auto;
}
.forgot-password-link {
color: rgba(0, 0, 0, 0.6);
font-size: 0.9rem;
text-decoration: none;
transition: color 0.3s ease;
}

.forgot-password-link:hover {
color: var(--cor-principal);
}
  
