.section-auth-accounts {
    background-color: var(--cor-background);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
}

.auth-wrapper {
    position: relative;
    max-width: 800px;
    display: grid;
    grid-template: "cadastro login"/ 1fr 1fr;
    border-radius: 30px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.login-wrapper,
.register-wrapper {
    padding: 40px;
    display: flex;
    flex-direction: column;
}

.login-wrapper {
    grid-area: login;
    border-radius: 0px 30px 30px 0px;
    background-color: white;
}

.register-login-wrapper {
    grid-area: cadastro;
    border-radius: 20px 0px 0px 20px;
    background-color: var(--cor-secundaria);
    color: white;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}

.content-register {
    text-align: justify;
}

.register-link {
    color: white;
    font-size: 0.9rem;
    margin-top: 30px;
    transition: color 0.3s ease;
}

.register-link:hover {
    color: white;
}

.auth-title {
    font-size: 2rem;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    margin-bottom: 30px;
    text-align: center;
}

.title-login {
    color: var(--cor-principal);
}

.login-wrapper > input {
    font-size: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.2);
    margin: 5px 0px;
    padding: 10px;
    border-radius: 30px;
    height: 45px;
    width: 100%;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

.login-wrapper > input:focus {
    outline: none;
    border-color: var(--cor-secundaria);
}

.login-wrapper > button {
    margin-top: 30px;
    font-size: 1rem;
    color: white;
    background-color: var(--cor-principal);
    border: none;
    border-radius: 30px;
    width: 70%;
    align-self: center;
    height: 50px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-wrapper > button:hover {
    background-color: var(--cor-principal-hover);
}

.forgot-password {
    padding: 5px;
    margin: auto;
}

.forgot-password-link {
    color: rgba(0, 0, 0, 0.6);
    font-size: 0.9rem;
    text-decoration: none;
    transition: color 0.3s ease;
}

.forgot-password-link:hover {
color: var(--cor-principal);
}


/* Ãrea de Registro */

textarea {
    padding: 10px;
}

.section-create-temas {
    display: flex;
    align-items: center;
    justify-content: center;
}

.register-temas-wrapper{
    width: 900px;
}

.register-user-wrapper {
    width: 700px;
    border-radius: 30px;
    background-color: white;
    box-shadow: 2px 2px 4px var(--sombra-padrao);
}

.register-form-wrapper {
    display: flex;
    flex-direction: column;
}

.register-form-wrapper > label {
    color: rgba(0, 0, 0, 0.8);
    padding: 10px 0px;
}

.register-form-wrapper  input[type='text'], input[type='password'], input[type='email'], input[type='tel'] {
    padding: 10px;
    font-size: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 30px;
    height: 45px;
    width: 100%;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

.register-form-wrapper  input[type='checkbox'] {
    align-self: start;
}
.register-form-wrapper  select {
    align-self: start;
    width: 30%;
}

.register-form-wrapper  input:focus, textarea:focus {
    outline: none;
    border-color: var(--cor-secundaria);
}

.register-form-wrapper  button {
    margin-top: 30px;
    font-size: 1rem;
    color: white;
    background-color: var(--cor-principal);
    border: none;
    border-radius: 30px;
    width: 60%;
    align-self: center;
    height: 50px;
    cursor: pointer;
    transition: background-color 0.3s ease;
} 

.register-form-wrapper  button:hover {
    background-color: var(--cor-principal-hover);
}
