* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

:root {
    --cor-principal: #ed254eff;
    --cor-principal-hover: #ed4d6e;
    --naples-yellow: #f9dc5cff;
    --tea-green: #c2eabdff;
    --oxford-blue: #011936ff;
    --charcoal: #465362ff;
    --green: #52e5b9;
    --cor-secundaria: #0569cd;
    --cor-background: #f5f5f5;
    --cor-footer: #dedede;
    --verde-escuro: #008c72;
    --laranja: #ff8300;
    --cinza-escuro: #333333ff;
    --fonte-destaque: 'Montserrat', sans-serif;
    --fonte-secundaria: 'Open Sans', sans-serif;
    --fonte-conteudo: 'Roboto', sans-serif;
}

html, body {
    font-family: Roboto;
}

header {
    position: relative;
    height: 90px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--cor-background);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 2px 4px;
}

.header-title-link {
    margin-left: 20px;
    font: normal bold 2.2rem var(--fonte-destaque);
    text-decoration: none;
    color: var(--cor-principal);
}

.navbar {
    display: flex;
    align-items: center;
    list-style: none;
}

.nav-item {
    position: relative;
    padding: 10px;
    height: 100%;
    border-radius: 25px;
}

.nav-item:last-child {
    margin-right: 20px;
}

.nav-link {
    font: normal bolder 1rem var(--fonte-secundaria);
    text-decoration: none;
    color: var(--cor-secundaria);
}

.fa-caret-down {
    margin-left: 10px;
}

.search-bar {
    display: flex;
    align-items: center;
    width: 450px;
    margin: 10px;
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 4px;
}

.search-bar > input[type="text"] {
    flex: 1 1 0%;
    font: normal normal 1rem var(--fonte-conteudo);
    border-radius: 20px 0px 0px 20px;
    width: 100%;
    height: 35px;
    border: none;
    padding: 0px 10px;
    background-color: transparent;
    color: var(--charcoal);
    opacity: 0.8;
    outline: none;
}

.search-button {
    height: 35px;
    width: 50px;
    border: none;
    border-radius: 0px 20px 20px 0px;
    background-color: var(--cor-principal);
    color: rgb(255, 255, 255);
    outline: none;
    cursor: pointer;
}

.dropdown-menu {
    display: none;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    list-style-type: none;
    position: absolute;
    background-color: var(--cor-background);
    width: 200px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 4px;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown-item {
    padding: 10px;
}

.dropdown-item:hover {
    background-color: var(--cor-secundaria);
}

.dropdown-link {
    color: var(--cor-secundaria);
    text-decoration: none;
}

.dropdown-item:hover .dropdown-link {
    color: var(--cor-background);
}

.search-button:hover {
    background-color: var(--cor-principal-hover);
}

.user {
    font: 1rem Roboto;
    color: rgb(255, 255, 255);
}

.user-icon-wrapper {
    background-color: var(--cor-secundaria);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    height: 30px;
    width: 30px;
}

main {
    height: 525px;
}

footer {
    padding: 20px;
    text-align: center;
    background-color: var(--cor-footer);
    color: var(--charcoal);
}

.footer-icons {
    margin: 0px auto 10px;
}

.footer-link {
    cursor: pointer;
    display: inline-block;
    margin: 0px 10px;
    border-radius: 50%;
    padding: 5px;
    color: var(--cor-secundaria);
    text-decoration: none;
    background-color: transparent;
}

.footer-text {
    font: normal normal 0.8rem var(--fonte-conteudo);
}