:root {
    --cor-principal: #ed254eff;
    --cor-principal-hover: #ed4d6e;
    --naples-yellow: #f9dc5cff;
    --tea-green: #c2eabdff;
    --oxford-blue: #011936ff;
    --charcoal: #465362ff;
    --cor-contraste: #25edc4;
    --cor-secundaria: #0569cd;
    --cor-background: #f5f5f5;
    --cor-footer: #dedede;
    --verde-escuro: #008c72;
    --cinza-escuro: #333333ff;
    --fonte-destaque: 'Montserrat', sans-serif;
    --fonte-secundaria: 'Open Sans', sans-serif;
    --fonte-conteudo: 'Roboto', sans-serif;
}
