{% extends 'base.html' %}
{% block conteudo %}
<main>
    <section class="section-cards">
        <h1 class='section-cards-title'>Temas</h1>
        {% for redacao in redacoes %}
        <div class="card">
            <img class="card-img" class="card-img" src="{{redacao.imagem.url}}" alt="">
            <div class="card-content">
                <h1 class="card-title">{{redacao.tema}}</h1>
                <a class= 'card-link'href="">Ver detalhes</a>
            </div>
        </div>
       {% endfor %}
    </section>
</main>
{% endblock conteudo %}