{% extends 'base.html' %}
{% block conteudo %}
    <section class="section-cards">
        <h1 class='section-cards-title'>Temas</h1>
        <section class="filter-section">
            <form action="{% url 'temas' %}" method="get">
                <div class="order_by-wrapper">
                        <label class= "label-order_by" for="order_by">Ordenar por:</label>
                        <select name="order_by" id="order_by" class="select-order_by">
                            <option value="-id">Mais recente</option>
                            <option value="id">Mais antigo </option>
                        </select>
                </div>
                <div class="checkbox-wrapper">
                    <label for="filter" class="label-filter">filtrar por :</label>
                    <div class="checkbox-content">
                        {% for categoria in categorias %}
                        <div>
                            <input type="checkbox" name="filter" id="categoria_{{categoria.id}}" value="{{categoria.id}}"> <label for="categoria_{{categoria.id}}">{{categoria.nome}}</label>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="button-wrapper">
                    <p>
                        <button type="submit" class="button-filter-section apply">APLICAR</button>
                        <button type="reset" class="button-filter-section reset">LIMPAR</button>
                    </p>
                </div>
            </form>
        </section>
        <div class="card-wrapper">
        {% for tema in temas %}
            <div class="card">
                <img class="card-img"src="{{tema.imagem.url}}" alt="">
                <div class="card-content">
                    <p class="card-categoria">{{tema.categoria.nome}}</p>
                    <h1 class="card-title">{{tema.tema}}</h1>
                    <a class= 'card-link'href="#">Ver detalhes</a>
                </div>
            </div>
        {% endfor %}
    </div>
    </section>
{% endblock conteudo %}